# Ignore the debug/release folder
*/Debug/*
*/Release/*

# Ignore the .settings file
.settings/

# Ignore the .cproject, .project &.mxproject 
*/.cproject
*/.project
*/.mxproject

# Ignore .metadata folder
/.metadata/
