# Ignore the debug/release folder
*/Debug/*
*/Release/*

# Ignore the .settings file
*/.settings/

# Ignore the .cproject, .project &.mxproject 
*/.mxproject
STM32_Project/*.launch

# Ignore .metadata folder
/.metadata/

#Ignore .ioc file
*/*.ioc

#Ignore the unnecessary PAL and compiler header files
STM32_Project/Drivers/CMSIS/Include/*
!STM32_Project/Drivers/CMSIS/Include/cmsis_gcc.h
!STM32_Project/Drivers/CMSIS/Include/core_cm4.h
!STM32_Project/Drivers/CMSIS/Include/tz_context.h
!STM32_Project/Drivers/CMSIS/Include/cmsis_version.h
!STM32_Project/Drivers/CMSIS/Include/cmsis_compiler.h