# Ignore the debug/release folder
*/Debug/*
*/Release/*

# Ignore the .settings file
*/.settings/

# Ignore the .cproject, .project &.mxproject 
*/.mxproject
STM32_Project/*.launch

# Ignore .metadata folder
/.metadata/

#Ignore .ioc file
*/*.ioc